.square {
  display: block;
  height: 200px;
  width: 200px;
  position: absolute;
  background-color: #00aeef;
}

.red-square {
  height: 50px;
  width: 50px;
  position: absolute;
  background-color: red;
}
